* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  height: 100vh;
  background-color: rgb(240, 240, 240);
}
h1 {
  text-align: center;
  color: rgb(65, 65, 65);
}
.main {
  max-width: 250px;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -25vh);
}
label {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
input {
  margin-top: 1em;
  padding: 3px;
  width: 2em;
}
:focus {
  outline: none;
}
button {
  margin: 1em 1em 0 0;
  padding: 3px 6px;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}
.up {
  background-color: rgb(129, 108, 248);
}
.up:hover {
  background-color: rgb(155, 139, 248);
}
.wanted {
  background-color: rgb(115, 248, 175);
}
.wanted:hover {
  background-color: rgb(149, 248, 192);
}
p {
  margin-top: .5em;
}